// Here you can add other styles
.headerRow{
    margin-bottom: 30px;
    margin-top: 30px;
}
.headerText{
    color: rgb(121, 3, 231);
}
.imgRow{
    justify-content: center;
    margin-bottom: 30px;
}
.image{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}
.rowDiv{
    margin-bottom: 30px;
}
.ColDiv{
    text-align: start;
}

.radioLabel{
    font-size: 17px;
    margin-right: 40px;
}
.Radio{
    width: 15px;
    height: 20px;
    padding: 20px;
}
.chk{
    width: 15px;
    height:20px;
}
.button{
    max-width: 100%;
    min-width: 60%;
    height:45px;
    background-color: rgb(184, 139, 226);
    border-radius: 2rem;
    border:rgb(142, 30, 247);
    font-size: 18px;
    cursor: pointer;
}
.button:hover {
	-webkit-transform: translateY(-1px);
	transform: translateY(-3px);
    background-color: rgb(171, 111, 228);
}
.label{
    font-size: 17px;
}
.buttonExcel{
    max-width: 80%;
    min-width: 60%;
    height:50px;
    background-color: rgb(184, 139, 226);
    border-radius: 2rem;
    border:rgb(142, 30, 247);
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 30px;
}
.buttonExcel:hover {
	-webkit-transform: translateY(-1px);
	transform: translateY(-3px);
    background-color: rgb(171, 111, 228);
}
.imgExcel{
    width: 50%;
    height: 50%;
    margin-bottom: 30px;
    text-align: center;
}
.header{
    text-align: center;
    color: rgb(121, 3, 231);
}
.headerExcelRow{
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
}
.tabName{
    font-size: 20px;
    background-color: rgb(215, 201, 228);
}
.imgExcel:hover {
	-webkit-transform: translateY(-1px);
	transform: translateY(-3px);
}
.ok-confirm-btn{
    width: 80px;
    height:50px;
    background-color: green;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color:white;
}
.ok-confirm-btn:hover {
	-webkit-transform: translateY(-1px);
	transform: translateY(-3px);
    background-color: rgb(137, 223, 142)
}
.confirm-btn{
    width: 80px;
    height:50px;
    background-color: red;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color:white;
}
.confirm-btn:hover {
	-webkit-transform: translateY(-1px);
	transform: translateY(-3px);
    background-color: rgb(233, 88, 88)
}
.cancel-confirm-btn{
    width: 80px;
    height:50px;
    background-color: red;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color:white;
}
.cancel-confirm-btn:hover {
	-webkit-transform: translateY(-1px);
	transform: translateY(-3px);
    background-color: rgb(223, 132, 132);
}
.errMsgBox{
    background-color: rgb(250, 71, 71);
    font-size: 18px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.successMsgBox{
    background-color: rgb(97, 151, 97);
    font-size: 18px;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.cardBody{
        background: linear-gradient(to top, #ccccff 33%, #cc99ff 96%);
        border-radius:30px;
        margin-bottom: 30px;
     
}
.buttonList{
    max-width: 80%;
    min-width: 60%;
    height:45px;
    background-color: rgb(184, 139, 226);
    border-radius: 2rem;
    border:rgb(142, 30, 247);
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 30px;
}
.buttonList:hover{
    -webkit-transform: translateY(-1px);
	transform: translateY(-3px);
    background-color: rgb(171, 111, 228);
}
.img:hover {
	-webkit-transform: translateY(-1px);
	transform: translateY(-3px);
}
.img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.mainTable{
    width:100%;
    min-width: 1200px;
    margin-left: 30px;
}
.thData{
    border:1px solid;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e0c7fa;
}
table tbody tr td{
    padding-top: 10px;
    padding-bottom: 10px;
}
tr:nth-child(even) {
    background-color: #f1ebf7;
}
.editBtn{
    max-width: 80%;
    min-width: 60%;
    height:45px;
    background-color: rgb(184, 139, 226);
    border-radius: 10px;
    border:rgb(142, 30, 247);
    font-size: 15px;
    cursor: pointer;
}
.editBtn:hover{
    -webkit-transform: translateY(-1px);
	transform: translateY(-3px);
    background-color: rgb(171, 111, 228);
}
.detailBtn{
    max-width: 80%;
    min-width: 60%;
    height:45px;
    background-color: rgb(25, 226, 52);
    border-radius: 10px;
    border:rgb(1, 219, 30);
    font-size: 15px;
    cursor: pointer;
}
.detailBtn:hover{
    -webkit-transform: translateY(-1px);
	transform: translateY(-3px);
    background-color: rgb(53, 230, 77);
}
.deleteBtn{
    max-width: 80%;
    min-width: 60%;
    height:45px;
    background-color: rgb(240, 49, 49);
    border-radius: 10px;
    border:rgb(238, 33, 5);
    font-size: 15px;
    cursor: pointer;
}
.deleteBtn:hover{
    -webkit-transform: translateY(-1px);
	transform: translateY(-3px);
    background-color: rgb(241, 83, 62);
}
.tdData{
    border:1px solid;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.success {
    color: white;
    background-color: #2eb85c;
    border: 1px solid #2eb85c !important;
    border-radius: 10px;
  }
  .error {
    color: white;
    background-color: #e55353;
    border: 1px solid #e55353 !important;
    border-radius: 10px;
  }
.addBtn{
    max-width: 70%;
    min-width: 50%;
    height:35px;
    background-color: green;
    border-radius: 15px;
    border:rgb(1, 219, 30);
    font-size: 15px;
    cursor: pointer;
    color: white;
}
.addBtn:hover{
    -webkit-transform: translateY(-1px);
	transform: translateY(-3px);
    background-color: rgb(53, 230, 77);
}
.select{
    margin-bottom: 30px;
}
.addTable{
    min-width: 700px;
}